.App {
  text-align: center;
  position: relative;
  background-color: #5E3AE2;
  width: 100%;
  z-index: 1; 
}

.centro{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
  min-height: 140vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.miltt{
  width: 50%;
  font-size: small;
  justify-content: space-between !important;
}

.miltt h3{
  margin-left: 50px;
  text-align: justify;
}