.astronautas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.astronautas-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 300px 300px rgba(255, 255, 255, 0.332); /* Ajusta los valores de la sombra según tus necesidades */
  border-radius: 10px; /* Ajusta el radio de la esquina de la sombra según tus necesidades */
  z-index: 1;
}

.astronauta-image {
  height: auto;
  object-fit: cover;
  position: absolute;
  animation: fallAndRotate linear infinite;
  opacity: 0.6;
}

.astronauta-1 {
  left: 10%;
  top: -50%; /* Ajusta la posición inicial */
  width: 15%; /* Ajusta el tamaño según tus preferencias */
  animation-duration: 12s; /* Ajusta la duración según tus preferencias */
  animation-timing-function: linear; /* Ajusta la velocidad de rotación */
}

.astronauta-2 {
  left: 30%;
  top: -60%; /* Ajusta la posición inicial */
  width: 10%; /* Ajusta el tamaño según tus preferencias */
  animation-duration: 15s; /* Ajusta la duración según tus preferencias */
  animation-timing-function: ease-in-out; /* Ajusta la velocidad de rotación */
}

.astronauta-3 {
  left: 50%;
  top: -55%; /* Ajusta la posición inicial */
  width: 18%; /* Ajusta el tamaño según tus preferencias */
  animation-duration: 11s; /* Ajusta la duración según tus preferencias */
  animation-timing-function: ease-out; /* Ajusta la velocidad de rotación */
}

.astronauta-4 {
  left: 70%;
  top: -65%; /* Ajusta la posición inicial */
  width: 12%; /* Ajusta el tamaño según tus preferencias */
  animation-duration: 14s; /* Ajusta la duración según tus preferencias */
  animation-timing-function: cubic-bezier(
    0.68,
    -0.55,
    0.27,
    1.55
  ); /* Ajusta la velocidad de rotación */
}

.astronauta-5 {
  left: 70%;
  top: -58%; /* Ajusta la posición inicial */
  width: 20%; /* Ajusta el tamaño según tus preferencias */
  animation-duration: 13s; /* Ajusta la duración según tus preferencias */
  animation-timing-function: cubic-bezier(
    0.42,
    0,
    0.58,
    1
  ); /* Ajusta la velocidad de rotación */
}

.astronauta-6 {
  left: 15%;
  top: -62%; /* Ajusta la posición inicial */
  width: 18%;
  animation-duration: 14s;
  animation-timing-function: ease-in; /* Ajusta la velocidad de rotación */
}

.astronauta-7 {
  left: 40%;
  top: -52%; /* Ajusta la posición inicial */
  width: 12%;
  animation-duration: 11s;
  animation-timing-function: ease-out; /* Ajusta la velocidad de rotación */
}

.astronauta-8 {
  left: 65%;
  top: -70%; /* Ajusta la posición inicial */
  width: 20%;
  animation-duration: 13s;
  animation-timing-function: linear; /* Ajusta la velocidad de rotación */
}

.astronauta-9 {
  left: 56%;
  top: -56%; /* Ajusta la posición inicial */
  width: 15%;
  animation-duration: 16s;
  animation-timing-function: ease-in-out; /* Ajusta la velocidad de rotación */
}

.astronauta-10 {
  left: 25%;
  top: -68%; /* Ajusta la posición inicial */
  width: 14%;
  animation-duration: 15s;
  animation-timing-function: ease-out; /* Ajusta la velocidad de rotación */
}

@keyframes fallAndRotate {
  0% {
    transform: translateY(-100%) rotate(0deg);
  }
  100% {
    transform: translateY(200vh) rotate(360deg); /* Ajusta la distancia de caída para asegurar que los astronautas estén fuera de la pantalla al final */
  }
}
