/* Nav.css */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000087;
    color: white;
    z-index: 1000;
  }
  
 /* styles.css */
.logo-container img {
  opacity: 0;
  transform: translateX(-50px);
  animation: appearFromLeft 1s forwards;
  height: 3rem;
}

@keyframes appearFromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

  
  .login-container {
    display: flex;
    align-items: center;
  }
  
.login-btn {
  opacity: 0;
  transform: translateX(50px);
  animation: appearFromRight 1s forwards;
  background-color: #007bff;
  margin-right: 35px;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

@keyframes appearFromRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

  